---
title: Published Projects
content_blocks:
  - _bookshop_name: page-heading
---

{% bookshop page-heading title="Published Projects" %}

{% include project-card.html
  project_name="Sunset Swing"
  project_banner="/images/projects/sunset-swing.png"
  project_link="https://rodraxm.itch.io/sunset-swing"
  project_date="2024"
  project_details="Game made for the GMTK 2024 game jam. Swing a ball into falling spirits for massive scores!
  Align trickshots, make epic slowmo saves, and break the limits of normal scoring! Position #79 out of 7,624 entries."
  project_tags="Godot, Design"
%}

{% include project-card.html
  project_name="Cinematic Unity Explorer"
  project_banner="/images/projects/cinematic-unity-explorer.png"
  project_link="https://github.com/originalnicodr/CinematicUnityExplorer"
  project_date="2024"
  project_details="Fork of the excellent UnityExplorer mod made by sinai-dev focused on providing tools for creating marketing material for Unity games."
  project_tags="C#, Unity"
%}

{% include project-card.html
  project_name="Framed wrapped"
  project_banner="/images/projects/framed-wrapped.jpg"
  project_link="http://framedsc.com/framed-wrapped/"
  project_date="2023"
  project_details="Continuation of a project another member of the Framed community started. The work involved dumping Discord data, refactoring the project to work as a static page, adding multiyear support, designing and implementing a homepage, improving phone support, fixing bugs, and minor visual updates."
  project_tags="Python, React, Javascript, CSS"
%}

{% include project-card.html
  project_name="HOFWallpaper"
  project_banner="/images/projects/hof-wallpaper.jpg"
  project_link="http://framedsc.com/HOFWallpaper/"
  project_date="2023"
  project_details="A wallpaper site featuring the best shots from the Framed Screenshot Community Discord server."
  project_tags="React, Javascript, CSS"
%}

{% include project-card.html
  project_name="Ruddy's Dungeon Service"
  project_banner="/images/projects/rudys-dungeon-service.png"
  project_link="https://rodraxm.itch.io/ruddys-dungeon-service"
  project_date="2023"
  project_details="Game made for the GMTK 2023 game jam. Help Ruddy, owner of a Dungeon Escape Room,
  by providing her customers a great Dungeon Crawling experience. Position #226 out of 6,742 entries."
  project_tags="Godot, Design"
%}

{% include project-card.html
  project_name="RELit"
  project_banner="/images/projects/relit.png"
  project_link="https://github.com/originalnicodr/RELit"
  project_date="2022"
  project_details="REFramework mod script to spawn lights in RE Engine games."
  project_tags="Lua"
%}

{% include project-card.html
  project_name="A Roll Away"
  project_banner="/images/projects/a-roll-away.png"
  project_link="https://rodraxm.itch.io/a-roll-away"
  project_date="2022"
  project_details="Game made for the GMTK 2022 game jam. Fight your way across dimensions and multiple
  waves of enemies to get home with your loyal D-Dog."
  project_tags="Godot, Design"
%}

{% include project-card.html
  project_name="El Corgi Pretencioso"
  project_banner="/images/pcorgi.jpg"
  project_link="../el-corgi-pretencioso/"
  project_date="Since 2022"
  project_details="(Spanish) Reviews, analysis and essays on games, books, series and movies."
  project_tags="Analysis, Writing"
%}

{% include project-card.html
  project_name="Double-Edged Link"
  project_banner="/images/projects/double-edged-link.png"
  project_link="https://rodraxm.itch.io/double-edged-link"
  project_date="2021"
  project_details="Game made for the GMTK 2021 game jam. Link your enemies to get their power-up, 
  as long as you can avoid killing them, or getting killed! Position #429 out of 5,659 entries."
  project_tags="Godot, Design"
%}

{% include project-card.html
  project_name="CuratorDiscordBot"
  project_banner="/images/projects/curator-discord-bot.jpg"
  project_link="https://github.com/originalnicodr/CuratorDiscordBot"
  project_date="2021"
  project_details="Discord bot that constructs a database for a website gallery."
  project_tags="Python"
  project_extra_link="../blog/how-we-made-a-high-quality-image-gallery-without-paying-a-single-dime/"
  project_extra_link_description="Blog post about it"
%}

{% include project-card.html
  project_name="CorgiFX"
  project_banner="/images/projects/corgifx.png"
  project_link="https://github.com/originalnicodr/CorgiFX"
  project_date="2020"
  project_details="Shader suite for Virtual Photography."
  project_tags="ReShade FX shader language"
%}

{% include project-card.html
  project_name="Framed"
  project_banner="/images/projects/framed-logo.png"
  project_link="https://framedsc.com/"
  project_date="Since 2020"
  project_details="Colaborating in a Virtual Photography-related site by doing maintenance, documentation and improvements."
  project_tags="Maintenance, Documentation"
%}
