<div class="animate">
  <h1 class="timeline-title">Work Experience</h1>
  <div class="timeline">
    <div class="entry">
      <div class="title">
        <h3>2025 - Present</h3>
        <div class="title-content">
          <img class="entry-img" src="/images/about/work-experience/simplisafe.png">
          <div class="job-info">
            <p class="job-title">Software Engineer,</p>
            <p class="company">SimpliSafe</p>
          </div>
        </div>
      </div>
      <div class="body">
        <h4>Tooling development with C++, Qt, gRPC, and gTest</h4>
        <ul>
          <li>Co-designed and co-developed a simulator application for the camera and security systems.</li>
          <li>Collaborated in adapting the camera application to x86 architecture for our simulator.</li>
          <li>Contributed to the maintenance of firmware and higher-level camera applications.</li>
        </ul>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2023 - 2025</h3>
        <div class="title-content">
          <img class="entry-img" src="/images/about/work-experience/irobot.png">
          <div class="job-info">
            <p class="job-title">Software Engineer,</p>
            <p class="company">iRobot</p>
          </div>
        </div>
      </div>
      <div class="body">
        <h4>Tooling development with C++, Qt, and gTest</h4>
        <ul>
          <li>Designed and developed a widget to inspect incoming transport JSON data in a tree-like structure for an in-house tool.</li>
          <li>Planned and expanded our testing coverage of multiple classes and systems using gTest.</li>
          <li>Identified and fixed multiple memory leaks using ASAN and GDB.</li>
          <li>Integrated a new robot architecture into the tooling software supported by the team.</li>
          <li>Refactored and updated the codebase to deal with tech debt and upgrading libraries and OS.</li>
          <li>Improved multiple widgets, fixed bugs, and implemented UX changes in our in-house tool based on feature requests and bug reports by other engineers.</li>
        </ul>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2022 - 2023</h3>
        <div class="title-content">
          <img class="entry-img" src="/images/about/work-experience/profitwellpaddle.png">
          <div class="job-info">
            <p class="job-title">Software Engineer,</p>
            <p class="company">ProfitWell/Paddle</p>
          </div>
        </div>
      </div>
      <div class="body">
        <h4>Backend work with some frontend development with Python, Django, and Typescript</h4>
        <ul>
          <li>Implemented the new version of a section of the web application.</li>
          <li>Developed custom solutions to secure deals with new customers.</li>
          <li>Assisted the support team in debugging reported issues.</li>
          <li>Led the team responsible for addressing security vulnerabilities stemming from a bug-hunting program.</li>
          <li>Miscellaneous web application and internal tools improvements.</li>
        </ul>
      </div>
    </div>

  </div>
</div>
